.deskripsi-barang {
    color: #bfbfbf;
    font-size: 16px;
    margin-top: 50px;
}

.size {
    font-size: 18px;
    margin-top: 50px;
}

.ukuran {
    list-style: none;
    margin-right: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: #f8f8f9;
}

.btn-white {
    border: solid;
    border-color: #a977b2;
    border-radius: 10px;
    color: #a977b2;
}

.btn-white:hover {
    color: #a977b2;
    background-color: #d9d9d9;
}

.gambar1 {
    width: 80%;
    height: auto;
}

@media (max-width: 476px) {
    .container {
        padding-top: 0 !important;
    }

    .col-lg-7 h3 {
        margin-top: 20px;
    }

    .container .row .col-lg-7 .btn-purple {
        width: 40% !important;
    }

    .container .row .col-lg-7 .btn-white {
        width: 40% !important;
        margin-left: 40px !important;
    }
}
