.judul-section {
    font-family: poppins;
    font-size: 36px;
    font-weight: 600;
    color: #a977b2;
}

.col-sm-12 {
    margin: auto;
}
.card {
    border: none;
    width: 70%;
}

.form {
    margin-bottom: 20px;
}

@media (max-width: 426px) {
    .container .container {
        padding: 0 !important;
    }

    .container .card .card-body .btn-purple {
        width: 100% !important;
    }
}
