.background {
    background-image: url(/source/img/banner-riwayat-pembelian.png);
    height: 250px;
    overflow-x: hidden;
}

.judul-section {
    font-family: poppins;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.card {
    border: none;
    width: 70%;
}

.form {
    margin-bottom: 20px;
}

@media (max-width: 426px) {
    .ubah-informasi .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .ubah-informasi .btn-purple {
        width: 50% !important;
    }
}
